<main class="contenedor panel-administracion">
    <h1><%= nombrePagina %></h1>

    <div class="contenedor-botones">
        <a href="/nuevo-grupo" class="btn btn-amarillo">Nuevo grupo</a>
        <a href="/nuevo-meeti" class="btn btn-azul">Nuevo meeti</a>
        <a href="/editar-perfil" class="btn btn-rosa">Editar perfil</a>
        <a href="/imagen-perfil" class="btn btn-amarillo">Imagen perfil</a>
    </div>

    <div class="seccion-admin">
        <h2>Tus Meeti's</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Miercoles, 24 de Mayo de 2024</p>
                    <h3>Bitcoin y otras criptomonedas</h3>
                    <small>30 Asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>

            <li>
                <div class="informacion-admin">
                    <p class="fecha">Lunes, 22 de Mayo de 2024</p>
                    <h3>E-Commerce en Mexico</h3>
                    <small>23 Asistentes</small>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Asistentes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>

    <div>
        <h2>Tus grupos</h2>

        <ul>
            <li>
                <div class="informacion-admin">
                    <h3>Bock chain Guadalajara</h3>
                </div>
                <div class="acciones contenedor-botones">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Imagen</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>    
    </div>

</main>