<main class="contenedor contenedor-formularios no-padding">
    <h1><%= nombrePagina %></h1>

    <form class="default-form" action="/nuevo-grupo" method="POST">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre grupo">
        </div>

        <div class="campo descripcion">
            <label>Descripcion</label>
            <div class="contenedor-editor">
                <input type="hidden" id="x" name="descripcion">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>

        <div class="campo">
            <label>Categoria</label>
            <select name="categoria">
                <option value="" selected disabled>-- Elige una categoria --</option>
            </select>
        </div>
        <div class="campo">
            <label>Imagen</label>
            <input type="file" name="imagen">
        </div>
        <div class="campo">
            <label>Sitio web</label>
            <input type="url" name="url" placeholder="Sitio web">
        </div>
        <div class="campo enviar">
            <input type="submit" value="Crear grupo" class="btn btn-rosa">
        </div>
    </form>
</main>